{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block contents %}
<div id="main">

<div id="content">
{% if page.html %}
<h2>{{ page.id }}</h2>
{{ page.html|safe }}
{% else %}
<p>{{ page|safe }}</p>
{% endif %}
<br />
{% if page.children %}
<ul>
{% for child in page.children %}
<li><a href="{{ child.url }}">{{ child.id }}</a></li>
{% endfor %}
</ul>
{% endif %}
<br />
</div>
</div>

{% endblock %}
