<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>
{% block title %}
Page title
{% endblock %}
</title>
<link href="/media/layout.css" type="text/css" rel="stylesheet" />
{% block media %}{% endblock %}
<style type="text/css"><!-- body { padding: 0px; margin: 0px;} --></style>
</head>

<body id="usual">

<div id="topnav">
{% block topnav %}
<ul>
{% for link, name, on in toplinks %}
<li {% if on %}class="link-on"{% endif %}>
<a href="{{ link }}">{{ name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
</div>

<div id="contents">

{% block contents %}
Main page content
{% endblock %}
</div>
<div id="bottomnav">
<a href="http://code.google.com/appengine/terms.html"><img src="/media/gaelogo.gif" alt="Powered by Google App Engine" /></a>
 <p>Site code, <a href="https://docs.google.com/present/view?id=dx8z96q_11gk3zd7cr">Google Apps integration</a> and design - Ed Crewe 2011</p>
</div>
</body>
</html>
