{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block contents %}

<div class="colmask blogstyle"> 
  <div class="colmid"> 
    <div class="colleft"> 
      <div class="col1">
<h2>{{ page.id }}</h2>
{{ page.html|safe }}
</div>

<div class="col2" id="blog">
<h2>latest posts</h2>
<ul>
{% for post in blog %}
<li><a href="{{ post.GetAlternateLink.href }}">{{ post.title.text }}</a><br />
    <span id="summary">{{ post.content.text|striptags|truncatewords:25 }}</span>
</li>
{% endfor %}
</ul>
</div>

<div class="col3">
</div>

</div></div></div>

<div id="main">

</div>

{% endblock %}
