{% extends 'base.html' %}

{% block title %}
Create a new project
{% endblock %}

{% block media %}
{% endblock %}

{% block contents %}
<form action="/project/{% if pkey %}{{ pkey }}/edit{% else %}create/{% endif %}" enctype="multipart/form-data" method="post" id="id_createproject_form">
{% if projectform.errors %}
<div class="error">{{ projectform.errors }}</div>
{% endif %}

<br />
<fieldset>
<legend>Create a project</legend>
<table>
{{ projectform }}
</table>

<span>Create the project <input tabindex="0" type="submit" name="createproject" id="id_createproject" value="Submit" /></span> 
</fieldset>
</form>




{% endblock %}
