{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

{% block contents %}
<div id="main">

<div id="content">
<div class="colmask rightmenu">
<div class="colleft">

{% if not project %}

<div class="col1">
<h2>Projects</h2>
<div style="display:block;text-align:left"><div class="sites-embed-align-left-wrapping-off">
<div class="sites-embed-border-off sites-embed" style="width:600px;"><div class="sites-embed-content sites-embed-type-picasa">
<embed type="application/x-shockwave-flash" src="//picasaweb.google.com/s/c/bin/slideshow.swf" width="600" height="400" wmode="transparent" pluginspage="//www.macromedia.com/go/getflashplayer" flashvars="host=picasaweb.google.com&amp;RGB=0x000000&amp;feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2F{{ picasaname }}%2Falbum%2Fportfolio%3Fkind%3Dphoto%26alt%3Drss%26" />
</div></div>
</div></div>
</div>

<div class="col2">
<ul class="whitetext">
{% for project in projects %}
<li><a href="/project/{{ project.key }}">{{ project.title }}</a></li>
{% endfor %}
</ul>
</div>

{% else %}

<div class="col1">
<h2>{{ project.title }}</h2>
{% if project.logo %}
<img src="/project/image/{{ project.key }}/logo.png" alt="{{ project.title }}" />
{% endif %}
<p>{{ project.start_year }} - {{ project.end_year }}</p>
<p class="projectlink">
{% if project.live_url %}<a href="{{ project.live_url }}">live system</a>{% endif %}
{% if project.doc_url %}<a href="{{ project.doc_url }}">documentation</a>{% endif %}
{% if project.code_url %}<a href="{{ project.code_url }}">code</a>{% endif %}
</p>
<p>{{ project.description|safe }}</p>
{% if project.sample %}
<img src="/project/image/{{ project.key }}/sample.png" alt="{{ project.title }}" />
{% endif %}
</div>

<div class="col2">
<ul class="whitetext">
{% if project.cms %}<li>CMS: <ul>{{ project.cms|unordered_list }}</ul></li>{% endif %}
{% if project.framework %}<li>framework: <ul>{{ project.framework|unordered_list }}</ul></li>{% endif %}
{% if project.language %}<li>language: <ul>{{ project.language|unordered_list }}</ul></li>{% endif %}
{% if project.database %}<li>database: <ul>{{ project.database|unordered_list }}</ul></li>{% endif %}
{% if project.markup %}<li>markup: <ul>{{ project.markup|unordered_list }}</ul></li>{% endif %}
{% if project.config %}<li>config: <ul>{{ project.config|unordered_list }}</ul></li>{% endif %}
</ul>

{% if user %}
<p><a href="/project/create/">Add a project</a></p>
{% endif %}

</div>

{% endif %}
</div>
</div>

</div>
</div>

{% endblock %}
