/* homepage 3 cols */

/* column container */
.colmask {
    position:relative;/* This fixes the IE7 overflow hidden bug */
    clear:both;
    float:left;
    width:100%;/* width of whole page */
    overflow:hidden;/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
    float:left;
    width:100%;/* width of page */
    position:relative;
}
.col1,
.col2,
.col3 {
    float:left;
    position:relative;
    padding:0 0 1em 0;/* no left and right padding on columns, we just make them narrower instead 
			 only padding top and bottom is included here, make it whatever value you need */
    overflow:hidden;
}
/* 3 Column blog style settings */
.blogstyle {
    background:#3d0042;/* right column background colour */
}
.blogstyle .colmid {
    right:25%;/* width of the right column */
    background:  #ac8aaf;
    border-right: 2px solid #3d0042;
}
.blogstyle .colleft {
    right:25%;/* width of the middle column */
    background:#fff;/* left column background colour */
}

.blogstyle .col1 {
    width:46%;/* width of center column content (column width minus padding on either side) */
    left:52%;/* 100% plus left padding of center column */
}
.blogstyle .col2 {
    color: #ffffff;

    width:21%;/* Width of left column content (column width minus padding on either side) */
    left:56%;/* width of (right column) plus (center column left and right padding) plus (left column left padding) */
}
.blogstyle .col3 {
    padding: 0px; 
    margin:0px;
    float:left; 
    width:21%;/* Width of right column content (column width minus padding on either side) */
    left:60%;/* Please make note of the brackets here:
		(100% - left column width) plus (center column left and right padding) plus (left column left and right padding) plus (right column left padding) */
}


/* 2 Column (right menu) settings */
.rightmenu {
    background: #ac8aaf;
    /* right column background colour */
    }
.rightmenu .colleft {
    right:25%;/* right column width */
    background: #ffffff;
    }
.rightmenu .col1 {
    width:71%;/* left column content width (left column width minus left and right padding) */
    left:27%;/* (right column width) plus (left column left padding) */
    }
.rightmenu .col2 {
    width:21%;/* right column content width (right column width minus left and right padding) */
    left:31%;/* (right column width) plus (left column left and right padding) plus (right column left padding) */
    }
.whitetext { color: #ffffff; }
